.CommentsList {
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    max-width: 700px;

}
.CommentsList__header {
    font-size: 24px;
}
.CommentsList__comment {
    transition: background-color 0.1s ease-out;
    padding: 20px;
    margin: 10px 0;
    cursor: pointer;
}

.CommentsList__comment:hover {
    background-color: rgba(255, 196, 35, 0.5);
}

.CommentsList__comment_selected, .CommentsList__comment_selected:hover {
    background-color: rgba(255, 196, 35, 1);

}

.CommentsList__commentDate {
    font-size: 10px;
}
